# Web-scraping: сбор данных из баз данных и интернет-источников

*Алла Тамбовцева, НИУ ВШЭ*

## Немного о функциях и библиотеке `pandas`

### Простые функции

С готовыми функциями в Python мы уже знакомы. Например, мы знаем, что существует функция `print()`, которая принимает на вход что угодно и выводит результат на экран:

In [1]:
print(5)

5

Эта функция может принимать на вход несколько аргументов сразу:

In [2]:
print("a", 5, [4, 6])

a 5 [4, 6]

Теперь мы посмотрим, как писать свои функции. Напишем функцию `squared()`, которая будет принимать на вход число и возвращать его квадрат. Первая строка функции – сигнатура – состоит из ключевого слова `def`, который сообщает Python, чтобы мы собираемся определить новую функцию, названия функции и её аргументов. Здесь аргумент у нас один – некоторое число, которое мы обозначим за `x`. В конце сигнатуры ставится двоеточие, всё, что после двоеточия – это тело функции, то есть описание того, что эта функция должна делать.

Наша функция должна возводить полученное на вход число в квадрат и возвращать результат. Этот результат мы поместим после ключевого слова `return`:

In [3]:
# функция

def squared(x):
    return x ** 2

Проверим, что функция работает, применим её к числу 3:

In [4]:
squared(3)

9

Теперь напишем функцию с двумя аргументами и результатом в виде списка. Пусть это будет функция `just_test()`, которая принимает на вход два числа и возвращает их сумму и разность, оформленные в список:

In [5]:
def just_test(a, b):
    res1 = a + b
    res2 = a - b
    return [res1, res2]

In [6]:
just_test(3, 5)

[8, -2]

Всё работает!

### Очень краткое введение в датафреймы `pandas`

В Python есть библиотека `pandas`, которая позволяет работать с данными в табличном виде, а также загружать данные из файлов CSV и Excel. Обычно эту библиотеку импортируют с сокращённым названием `pd`:

In [8]:
import pandas as pd

Попробуем создать датафрейм (таблицу) из списка списков:

In [9]:
df = pd.DataFrame([[2, 3, 7], 
             [0, 2, 9]])

In [10]:
df

   0  1  2
0  2  3  7
1  0  2  9

Первый список считался как первая строка таблицы, а второй – как вторая. Смысл один и тот же, но работать с таблицей гораздо привычнее и приятнее. Присвоим названия столбцам (по умолчанию они просто нумеруются целочисленными индексами):

In [11]:
df.columns = ["A", "B", "C"]

In [12]:
df

   A  B  C
0  2  3  7
1  0  2  9

Теперь нашу небольшую табличку мы можем экспортировать в файл CSV или Excel:

In [13]:
df.to_csv("/Users/allat/Desktop/icef/test.csv")

In [14]:
df.to_excel("/Users/allat/Desktop/icef/test.xlsx")